#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#define BASE 0
#define SYM  1
#define NAV  2
#define ADJ  3

&soft_off {
    hold-time-ms = <3000>;
};
&mt {
	flavor = "balanced";
	tapping-term-ms = <170>;
};

/ {
	macros {
		c_back_m: c_back_m {
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings
				= <&macro_press   &kp LCTRL>
				, <&macro_tap     &kp MINUS>
				, <&macro_release &kp LCTRL>
				;
		};
		c_forward_m: c_forward_m {
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings
				= <&macro_press   &kp LCTRL &kp LSHFT>
				, <&macro_tap     &kp MINUS>
				, <&macro_release &kp LSHFT &kp LCTRL>
				;
		};
		spotl_m: spotl_m {
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings 
				= <&macro_press   &kp LGUI>
				, <&macro_tap     &kp SPACE>
				, <&macro_release &kp LGUI>
				;
		};
		emoji_m: emoji_m {
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings
				= <&macro_press   &kp LCTRL &kp LGUI>
				, <&macro_tap     &kp SPACE>
				, <&macro_release &kp LCTRL &kp LGUI>
				;
		};
		noop_m: noop_m {
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings = <&none>;
		};
		btclr_m: btclr_m {
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings = <&bt BT_CLR>;
		};
		btsel_m: btsel_m {
			compatible = "zmk,behavior-macro-one-param";
			#binding-cells = <1>;
			bindings
				= <&macro_param_1to2>
				, <&bt BT_SEL MACRO_PLACEHOLDER>
				;
		};
		outtog_m: outtog_m {
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings = <&out OUT_TOG>;
		};
	};

	behaviors {
		btclr_ht: btclr_ht {
			compatible = "zmk,behavior-hold-tap";
			#binding-cells = <2>;
			tapping-term-ms = <3000>;
			flavor = "tap-preferred";
			bindings = <&btclr_m>, <&noop_m>;
		};
		btsel_ht: btsel_ht {
			compatible = "zmk,behavior-hold-tap";
			#binding-cells = <2>;
			tapping-term-ms = <3000>;
			flavor = "tap-preferred";
			bindings = <&btsel_m>, <&noop_m>;
		};
		outtog_ht: outtog_ht {
			compatible = "zmk,behavior-hold-tap";
			#binding-cells = <2>;
			tapping-term-ms = <3000>;
			flavor = "tap-preferred";
			bindings = <&outtog_m>, <&noop_m>;
		};
	};

	combos{
		compatible = "zmk,combos";
		combo_esc {
			timeout-ms = <50>;
			key-positions = <0 1>;    /* Q + W */
			bindings = <&kp ESC>;
			require-prior-idle-ms = <100>;
			layers = <BASE SYM>;    
		};
		combo_lalt {
			timeout-ms = <50>;
			key-positions = <21 22>;    /* Z + X */
			bindings = <&kp LALT>;
			require-prior-idle-ms = <100>;    
			layers = <BASE SYM>;    
		};
		combo_ralt {
			timeout-ms = <50>;
			key-positions = <29 30>;    /* . + / */
			bindings = <&kp RALT>;
			require-prior-idle-ms = <100>;   
			layers = <BASE SYM>;    
		};
		combo_soft_off {
			timeout-ms = <400>;
			key-positions = <14 15>;    /* G + H */
			bindings = <&soft_off>;
			slow-release;
			layers = <ADJ>;
		};
		combo_btclr{
			timeout-ms = <50>;
			key-positions = <2 12>;    /* E + D */
			bindings = <&btclr_ht N0 N0>;
			slow-release;
			layers = <ADJ>;    
		};
	};
	
    keymap {
        compatible = "zmk,keymap";
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        base_layer {
// ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
            label= "BASE";
// ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
//                ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
//                ┃     Q     ┃     W     ┃     E     ┃     R     ┃     T     ┃   ┃     Y     ┃     U     ┃     I     ┃     O     ┃     P     ┃
//                ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
//                ┃     A     ┃     S     ┃     D     ┃     F     ┃     G     ┃   ┃     H     ┃     J     ┃     K     ┃     L     ┃    ; :    ┃
// ┏━━━━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━━━━┓
// ┃     TAB      ┃     Z     ┃     X     ┃     C     ┃     V     ┃     B     ┃   ┃     N     ┃     M     ┃    , <    ┃    . >    ┃    / ?    ┃     RET      ┃
// ┗━━━━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━━━━┛
//                                        ┃    GUI    ┃    SYM    ┃    SPC    ┃   ┃   BSPC    ┃    NAV    ┃   CTRL    ┃
//                                        ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
            bindings = <
// ╷              ╷           ╷           ╷           ╷           ╷           ╷   ╷           ╷           ╷           ╷           ╷           ╷              ╷
                   &kp Q       &kp W       &kp E       &kp R       &kp T           &kp Y       &kp U       &kp I       &kp O       &kp P       
                   &kp A       &kp S       &kp D       &kp F       &kp G           &kp H       &kp J       &kp K       &kp L       &kp SEMI    
    &mt LSHIFT TAB &kp Z       &kp X       &kp C       &kp V       &kp B           &kp N       &kp M       &kp COMMA   &kp DOT     &kp FSLH    &mt RSHIFT RET
                                           &kp LGUI    &mo SYM     &kp SPACE       &kp BSPC    &mo NAV     &kp LCTRL
            >;
        };

// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        sym_layer {
// ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
            label= "SYM";
// ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
//                 ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
//                 ┃     ~     ┃     !     ┃     @     ┃     #     ┃     [     ┃   ┃     ]     ┃     1     ┃      2       ┃     3     ┃     +     ┃
//                 ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
//                 ┃     _     ┃     &     ┃     "     ┃     '     ┃     (     ┃   ┃     )     ┃     4     ┃      5       ┃     6     ┃     -     ┃
// ┏━━━━━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━━━━━━┓
// ┃       \       ┃     `     ┃     $     ┃     %     ┃     ^     ┃     {     ┃   ┃     }     ┃     7     ┃      8       ┃     9     ┃     *     ┃       =        ┃
// ┗━━━━━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╔═══════════╗━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━━━━━━┛
//                                         ┃    GUI    ║    SYM    ║           ┃   ┃     0     ┃    ADJ    ┃      |       ┃
//                                         ┗━━━━━━━━━━━╚═══════════╝━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━━━━┛
            bindings = <
// ╷               ╷           ╷           ╷           ╷           ╷           ╷   ╷           ╷           ╷              ╷           ╷           ╷                ╷
                    &kp TILDE   &kp EXCL    &kp AT      &kp HASH    &kp LBKT        &kp RBKT    &kp N1      &kp N2         &kp N3      &kp PLUS     
                    &kp UNDER   &kp AMPS    &kp DQT     &kp SQT     &kp LPAR        &kp RPAR    &kp N4      &kp N5         &kp N6      &kp MINUS 
    &mt LSHIFT BSLH &kp GRAVE   &kp DLLR    &kp PRCNT   &kp CARET   &kp LBRC        &kp RBRC    &kp N7      &kp N8         &kp N9      &kp ASTRK   &mt RSHIFT EQUAL
                                            &kp LGUI    &trans      &none           &kp N0      &mo ADJ     &mt LCTRL PIPE
            >;
        };

// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        nav_layer {
// ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
            label= "NAV";
// ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
//             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━━┳━━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━━┳━━━━━━━━━━━━┓
//             ┃   EMOJI   ┃    ESC    ┃   HOME    ┃    END    ┃   FDEL    ┃   ┃    F13     ┃    F15     ┃    MUTE   ┃    VOL-    ┃    VOL+    ┃
//             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━━╋━━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━━╋━━━━━━━━━━━━┫
//             ┃ CAPSWORD  ┃   LEFT    ┃     UP    ┃   RIGHT   ┃   PGUP    ┃   ┃    F14     ┃    F16     ┃    F17    ┃    F18     ┃   CBACK    ┃
// ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━━╋━━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━━╋━━━━━━━━━━━━╋━━━━━━━━━━━┓
// ┃   SHIFT   ┃ CAPSLOCK  ┃    ALT    ┃    DOWN   ┃           ┃   PGDWN   ┃   ┃    BRI-    ┃    BRI+    ┃           ┃    ALT     ┃  CFORWARD  ┃   SHIFT   ┃
// ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━━╔════════════╗━━━━━━━━━━━╋━━━━━━━━━━━━┻━━━━━━━━━━━━┻━━━━━━━━━━━┛
//                                     ┃    GUI    ┃    ADJ    ┃   SPTL    ┃   ┃            ║    NAV     ║    CTRL   ┃
//                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━━╚════════════╝━━━━━━━━━━━┛
            bindings = <
// ╷           ╷           ╷           ╷           ╷           ╷           ╷   ╷            ╷            ╷           ╷            ╷            ╷           ╷
                &emoji_m    &kp ESC     &kp HOME    &kp END     &kp DEL         &kp F13      &kp F15      &kp C_MUTE  &kp C_VOL_DN &kp C_VOL_UP       
                &caps_word  &kp LEFT    &kp UP      &kp RIGHT   &kp PG_UP       &kp F14      &kp F16      &kp F17     &kp F18      &c_back_m     
    &kp LSHIFT  &kp CAPS    &kp LALT    &kp DOWN    &none       &kp PG_DN       &kp C_BRI_DN &kp C_BRI_UP &none       &kp RALT     &c_forward_m &kp RSHIFT
                                        &kp LGUI    &mo ADJ     &spotl_m        &none        &trans       &kp LCTRL 
            >;
        };

// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        adj_layer {
// ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
            label= "ADJ";
// ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
//             ┏━━━━━━━━━━━━━┳━━━━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
//             ┃     BT0     ┃     ESC      ┃   BTCLR   ┃           ┃  PWROFF   ┃   ┃  PWROFF   ┃    F1     ┃    F2     ┃    F3     ┃    F4     ┃
//             ┣━━━━━━━━━━━━━╋━━━━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
//             ┃     BT1     ┃    TOGOUT    ┃   BTCLR   ┃    F19    ┃           ┃   ┃           ┃    F5     ┃    F6     ┃    F7     ┃    F8     ┃
// ┏━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
// ┃           ┃     BT2     ┃     ALT      ┃           ┃           ┃           ┃   ┃           ┃    F9     ┃    F10    ┃    F11    ┃    F12    ┃           ┃
// ┗━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━━━━╋━━━━━━━━━━━╔═══════════╗━━━━━━━━━━━┫   ┣━━━━━━━━━━━╔═══════════╗━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
//                                          ┃    GUI    ║    NAV    ║           ┃   ┃           ║    SYM    ║   CTRL    ┃
//                                          ┗━━━━━━━━━━━╚═══════════╝━━━━━━━━━━━┛   ┗━━━━━━━━━━━╚═══════════╝━━━━━━━━━━━┛
            bindings = <
// ╷           ╷             ╷              ╷           ╷           ╷           ╷   ╷           ╷           ╷           ╷           ╷           ╷           ╷
                &btsel_ht 0 0 &kp ESC        &none       &none       &none           &none       &kp F1      &kp F2      &kp F3      &kp F4
                &btsel_ht 1 1 &outtog_ht 0 0 &none       &kp F19     &none           &none       &kp F5      &kp F6      &kp F7      &kp F8
    &none       &btsel_ht 2 2 &kp LALT       &none       &none       &none           &none       &kp F9      &kp F10     &kp F11     &kp F12     &none
                                             &kp LGUI    &trans      &none           &none       &trans      &kp LCTRL
            >;
        };
		
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
    };
};